{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.thareja.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v3/team/getTeams": {
      "get": {
        "description": "Returns all the teams of the user has access.",
        "responses": {
          "200": {
            "description": "Team list response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/api/v3/task/create": {
      "post": {
        "description": "Creates a new task in the project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewTask"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "New task response",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/plant/webhook": {
      "post": {
        "description": "Information about a new plant added to the store",
        "requestBody": {
          "description": "Plant added to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewTask": {
        "required": [
          "project_id",
          "task_name"
        ],
        "type": "object",
        "properties": {
          "task_name": {
            "description": "The name of the task",
            "type": "string"
            
          },
          "project_id": {
            "description": "The ID of the project this task belongs to",
            "type": "integer",
            "format": "int64",
            "example": 123
          },
         
          "description": {
            "description": "Detailed description of the task",
            "type": "string",
            "example": "Write comprehensive documentation for all API endpoints"
          },
          "due_date": {
            "description": "The due date for the task in UTC",
            "type": "string",
            "format": "date-time",
            "example": "2025-12-31T23:59:59Z"
          },
         
          "assignee": {
            "description": "User ID of the person assigned to this task. Defaults to the logged-in user's ID if not provided.",
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "priority": {
            "description": "Priority level of the task, You can get priority list using priority api if you not set it will add default 3 means Medium",
            "type": "integer",
            "format": "int64",
            "example": 1,
            "default": 3
          },
          "sprintIds": {
            "description": "Sprint id in array if you want to create this task under in sprint",
            "type": "array",
            "format": "int64",
            "example": [1,2]
          }
         
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}